@model WebBasedTMS.Models.Feedbacks
@{
    ViewBag.Title = "Feedback";
    Layout = "~/Views/Shared/_Participant.cshtml";
}


<style>
    .field-validation-error {
        color: red;
    }

    .input-validation-error {
        border: 2px solid red;
    }
</style>

<div class="col-xl-12 order-xl-1">
    <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
            <div class="row align-items-center">
                <div class="col-8">
                    <h3 class="mb-0">Feedback</h3>
                </div>
            </div>
        </div>
        <div class="card-body">
            @using (Html.BeginForm())
            {
                <div class="pl-lg-4">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Module, new { @class = "form-control-label" })
                                @Html.TextBoxFor(m => m.Module, new { @class = "form-control form-control-alternative", Value = ViewBag.Module, disabled = "disabled" })
                                @Html.HiddenFor(m => m.Module, new { Value = ViewBag.Module })
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label">Teaching Quality</label>
                                <select class="form-control" name="Q1">
                                    <option>1</option>
                                    <option>2</option>
                                    <option selected>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="form-group">
                                    <label class="form-control-label">Course Material</label>
                                    <select class="form-control" name="Q2">
                                        <option>1</option>
                                        <option>2</option>
                                        <option selected>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label">Communication Skills</label>
                                <select class="form-control" name="Q3">
                                    <option>1</option>
                                    <option>2</option>
                                    <option selected>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="form-group">
                                    <label class="form-control-label">All Content Covered</label>                                <select class="form-control" name="Q4">
                                        <option>1</option>
                                        <option>2</option>
                                        <option selected>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label">Overall Rating</label>
                                <select class="form-control" name="Q5">
                                    <option>1</option>
                                    <option>2</option>
                                    <option selected>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="form-group">
                                    <label class="form-control-label">Suggestions</label>
                                    @Html.TextAreaFor(m => m.Suggestions, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <button class="btn btn-primary">Submit Feedback</button>
            }

        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>