@model IEnumerable<WebBasedTMS.Models.Exam>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Exam.cshtml";
}

    <div class="col">
        <div class="card shadow">
            <div class="card-header border-0">
                <h3 class="mb-0">Exam Details</h3>
            </div>
            <div class="table-responsive">
                <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Activity</th>
                            <th scope="col">Day</th>
                            <th scope="col">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model == null)
                        {
                            <tr>
                                <td colspan="3">No Exams Scheduled Please Wait...</td>
                            </tr>
                        }
                        else
                        {
                            foreach (var dates in Model)
                            {
                                <tr>
                                    <th>@dates.Activity</th>
                                    <td>@dates.Day</td>
                                    <td>@dates.Date.ToString("dd MMMM yyyy")</td>
                                </tr>
                            }
                        }


                    </tbody>
                </table>
            </div>

        </div>
    </div>