
@{
    ViewBag.Title = "Invalid Details";
    Layout = "~/Views/Shared/_Exam.cshtml";
}

<div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
        <div class="card bg-secondary shadow border-0">
            <div class="card-body px-lg-5 py-lg-5">
                <div class="text-center text-muted mb-4">
                    <h1>Error</h1>
                    <hr />
                </div>
                <p>
                    You have Entered the the Invalid Data...Please Cross Check and Enter Again...!!!
                </p>
            </div>

        </div>

    </div>
</div>

