
@{
    ViewBag.Title = "ThankYou";
    Layout = "~/Views/Shared/_MainPart.cshtml";
}


<div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
        <div class="card bg-secondary shadow border-0">
            <div class="card-body px-lg-5 py-lg-5">
                <div class="text-center text-muted mb-4">
                    <h1>Thank You</h1>
                    <hr />
                </div>
                <p>
                    Your Data is saved please give us sometime to approve You as a trainer
                </p>
            </div>

        </div>

    </div>
</div>
